* {
  box-sizing: border-box;
  font-family: "Silkscreen", cursive;
}

:root {
  --blue: #2dd9fe;
  --blue-glow: #00a3d5;

  --purple: #ff53cd;
  --purple-glow: #e10361;

  --green: #00fe9b;
  --green-glow: #02c435;

  --yellow: #ffdb4e;
  --yellow-glow: #b48505;

  --darkpurple: #9461fd;
  --darkpurple-glow: #4003e6;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border: 0.5rem solid;
  border-top-color: var(--darkpurple-glow);
  border-right-color: var(--darkpurple-glow);
  border-bottom-color: var(--darkpurple);
  border-left-color: var(--darkpurple);
  border-radius: 2rem;

  background-color: darkgray;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;

  color: white;
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 1rem solid var(--blue-glow);
}

h1 {
  color: var(--blue);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

#browser-heading {
  font-size: 1, 5rem;
  margin: 0.5rem;
  padding-left: 1rem;
}

#mobile-heading {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

#green-button {
  color: var(--green);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

#purple-button {
  color: var(--purple);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

#green-button:hover {
  color: var(--green-glow);
}

#purple-button:hover {
  color: var(--purple-glow);
}

.subtext {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.subtext h2 {
  padding: 0 2rem;

  color: var(--yellow);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.bio {
  border-top: 0.5rem solid var(--blue-glow);
  border-right: 0.5rem solid var(--blue-glow);
  border-radius: 2rem;

  padding-top: 2rem;
}

#bio-header {
  margin: 1rem;

  color: var(--purple);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  text-decoration: underline;
  font-size: 3rem;
}

#bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;
  text-align: center;
}

#bio-image {
  width: 10rem;
  height: auto;

  display: block;
  margin: 0 auto;
}

.projects {
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  border-top: 0.5rem solid;
  border-left: 0.5rem solid;
  border-color: var(--blue-glow);
  border-radius: 2rem;
}

.projects h2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  text-decoration: underline;
  font-size: 3rem;
}

.large-project {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20rem;
  width: auto;
}

.large-project img {
  width: 300px;
  height: auto;
  opacity: 0.75;
}

.large-project h3 {
  font-size: 2rem;
}

.projects figure aside {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 2rem;
  justify-content: center;
  flex-direction: column;

  border: 0.5rem solid;
  border-top-color: var(--blue-glow);
  border-right-color: var(--blue-glow);
  border-left-color: var(--blue);
  border-bottom-color: var(--blue);
  border-radius: 2rem;
}

.side-projects {
  display: flex;
  justify-content: center;
}

.side-projects figure {
  display: flex;
  align-items: center;
}

.large-project > a:hover {
  color: var(--yellow);
}

.project2 > a:hover,
.project3 > a:hover,
.project4 > a:hover,
.project5 > a:hover {
  color: var(--yellow);
}

.contact {
  margin: 0 1rem;
  margin-bottom: 2rem;

  border: 0.5rem solid;
  border-bottom: 0;
  border-color: var(--blue-glow);
  border-radius: 2rem;
}

.contact h2 {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  font-size: 3rem;
  text-decoration: underline;
  color: var(--purple);
}

.links {
  margin: 2rem 0;
}

.links > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links ul {
  padding: 0;
  text-align: center;
}

.links li {
  list-style: none;
}

.links a {
  margin-bottom: 5rem;
  text-decoration: none;
  font-size: 2rem;

  color: var(--yellow);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.links li :hover {
  color: var(--yellow-glow);
}

form {
  margin: 1rem;
}

form p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--blue);
}

input[type="text"] {
  background-color: black;
  color: var(--yellow);

  border: 0.25rem solid var(--blue-glow);
  border-radius: 2rem;
}

input::placeholder {
  color: var(--yellow);
}

button {
  margin-top: 1rem;
  width: 8rem;
  background-color: var(--yellow);
}

button:hover {
  background-color: var(--green-glow);
}

footer {
  background-color: #e10361;
}

footer h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  * {
    width: auto;
  }

  #browser-heading {
    display: none;
  }

  #mobile-heading {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 2rem 1rem;
    padding-bottom: 1rem;

    border: 0.5rem solid var(--blue-glow);
    border-top: 0;
    border-radius: 2rem;
  }

  .subtext {
    flex-direction: column;
    align-items: center;
  }

  .bio figure {
    display: flex;
    align-items: center;
  }

  nav {
    margin-bottom: 2rem;
    width: 100%;
    align-items: flex-start;
  }

  nav ul {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav li {
    text-align: center;
  }

  nav li a {
    padding: 0.5rem 1rem;
  }

  .links > ul {
    display: inline;
  }
}

@media (max-width: 800px) {
  .side-projects {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .large-project {
    flex-direction: column;
  }

  .large-project img {
    width: 100px;
    height: auto;
  }

  .projects figure aside {
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .projects header {
    padding: 1rem 0;
    margin: 2rem 0;
  }

  .side-projects figure {
    flex-direction: row;
  }

  a {
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
  }
}

@media (max-width: 400px) {
  nav li {
    font-size: 0.75rem;
  }
}

@media (max-width: 300px) {
  nav li {
    font-size: 0.5rem;
  }
}
