* {
  box-sizing: border-box;
  font-family: "Silkscreen", cursive;

  --blue: #2dd9fe;
  --blue-glow: #00a3d5;

  --purple: #ff53cd;
  --purple-glow: #e10361;

  --green: #00fe9b;
  --green-glow: #02c435;

  --yellow: #ffdb4e;
  --yellow-glow: #b48505;
}

body {
  margin: 0;
  padding: 0;

  color: white;
  background-color: rgb(0, 0, 0);
}

nav {
  margin-bottom: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 1rem solid var(--blue-glow);
}

h1 {
  color: var(--blue);
}

#browser-heading {
  font-size: 1, 5rem;
  margin: 0.5rem;
  padding-left: 1rem;
}

#mobile-heading {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

#green-button {
  color: var(--green);
}

#purple-button {
  color: var(--purple);
}

.bio {
  display: flex;
  justify-content: space-evenly;

  border-top: 0.5rem solid var(--blue-glow);
  border-right: 0.5rem solid var(--blue-glow);
  border-radius: 2rem;

  padding-top: 2rem;
}

#bio-header {
  margin: 1rem;

  color: var(--purple);
  text-decoration: underline;
  font-size: 3rem;
}

#bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

#bio-image {
  width: 10rem;
  height: auto;

  display: block;
  margin: 0 auto;

  border: 0.5rem solid;
  border-top-color: var(--yellow-glow);
  border-right-color: var(--yellow-glow);
  border-bottom-color: var(--yellow);
  border-left-color: var(--yellow);
}

.contact h2 {
  margin: 1rem;
  display: flex;
  justify-content: center;

  font-size: 3rem;
  text-decoration: underline;
  color: var(--purple);
}

.links {
  margin-top: 2rem;
}

.links > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links ul {
  padding: 0;
  text-align: center;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--yellow);
  margin-bottom: 5rem;
}

footer {
  background-color: #e10361;
}

footer h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  #browser-heading {
    display: none;
  }

  #mobile-heading {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 2rem 1rem;
    padding-bottom: 1rem;

    border: 0.5rem solid var(--blue-glow);
    border-top: 0;
    border-radius: 2rem;
  }

  .bio figure {
    display: flex;
    align-items: center;
  }

  nav {
    margin-bottom: 2rem;
    width: 100%;
    align-items: flex-start;
  }

  nav ul {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav li {
    text-align: center;
  }

  nav li a {
    padding: 0.5rem 1rem;
  }

  .links > ul {
    display: inline;
  }
}

@media (max-width: 400px) {
  nav li {
    font-size: 0.75rem;
  }
}

@media (max-width: 300px) {
  nav li {
    font-size: 0.5rem;
  }
}
