* {
  box-sizing: border-box;
  font-family: "Silkscreen", cursive;
}

/* color palette variables */
:root {
  --blue: #2dd9fe;
  --blue-glow: #00a3d5;

  --purple: #ff53cd;
  --purple-glow: #e10361;

  --green: #00fe9b;
  --green-glow: #02c435;

  --yellow: #ffdb4e;
  --yellow-glow: #b48505;

  --darkpurple: #9461fd;
  --darkpurple-glow: #4003e6;
}

/* Styling and border for all default images */
img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border: 0.5rem solid;
  border-top-color: var(--darkpurple-glow);
  border-right-color: var(--darkpurple-glow);
  border-bottom-color: var(--darkpurple);
  border-left-color: var(--darkpurple);
  border-radius: 2rem;

  background-color: darkgray;
}

/* Removes underline and blue link text color */
a {
  text-decoration: none;
  color: white;
}

/* Sets standard body sizing and standard color theme */
body {
  margin: 0;
  padding: 0;

  color: white;
  background-color: rgb(0, 0, 0);
}

/* Sets navbar on top of page and basic styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 1rem solid var(--blue-glow);
}

/* Set h1 to a constant style */
h1 {
  color: var(--blue);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

/* Heading to show when on desktop */
#browser-heading {
  font-size: 3rem;
  margin: 0.5rem;
  padding-left: 1rem;
}

/* Heading to show when on mobile */
#mobile-heading {
  display: none;
}

/* Standard styling for nav bar items */
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Removes bullet points and sets font size and padding between items */
nav li {
  font-size: 2rem;
  list-style: none;
  padding: 0 0.5rem;
}

/* Styles individual links on navbar */
nav li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

/* Constant color scheme for green text and buttons */
#green-button,
#green-text {
  color: var(--green);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

/* Constant color scheme for purple text and buttons */
#purple-button,
#purple-text {
  color: var(--purple);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

/* Change color on hover */
#green-button:hover {
  color: var(--green-glow);
}

/* Change color on hover */
#purple-button:hover {
  color: var(--purple-glow);
}

/* Styling for sub text within header */
.subtext {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Color effects for sub text on heading */
.subtext h2 {
  padding: 0 2rem;

  color: var(--yellow);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

/* Border style for bio section */
.bio {
  border-top: 0.5rem solid var(--blue-glow);
  border-right: 0.5rem solid var(--blue-glow);
  border-radius: 2rem;
}

/* Font style and color effects for the header in bio section */
#bio-header {
  margin: 1rem;

  color: var(--purple);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  text-decoration: underline;
  font-size: 3rem;
}

/* Styling for header in bio section */
#bio-text {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;
  text-align: center;
}

/* Adds a margin around paragraph in bio */
#bio-text p {
  margin: 1rem;
}

/* styling for profile pic in bio section */
#bio-image {
  width: 10rem;
  height: auto;

  display: block;
  margin: 0 auto;
}

/* Basic styling and border for projects section */
.projects {
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  border-top: 0.5rem solid;
  border-left: 0.5rem solid;
  border-color: var(--blue-glow);
  border-radius: 2rem;
}

/* Adds margin around header inside projects section */
.projects header {
  margin: 1rem;
}

/* Styling for heading within projects section */
.projects h2 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  text-decoration: underline;
  font-size: 3rem;
}

/* Styling for main project section */
.large-project {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20rem;
  width: auto;
}

/* Sizing for main project image */
.large-project img {
  width: 300px;
  height: auto;
  opacity: 0.75;
}

/* Sizing for header withing the main project section */
.large-project h3 {
  margin: 1rem;
  font-size: 2rem;
}

/* Adds padding inside paragraphs nested in aside sections */
aside p {
  padding: 1rem;
}

/* Styling and borders for projects descriptions */
.projects figure aside {
  display: flex;
  align-items: center;
  margin: 0rem 2rem;
  justify-content: center;
  flex-direction: column;

  border: 0.5rem solid;
  border-top-color: var(--blue-glow);
  border-right-color: var(--blue-glow);
  border-left-color: var(--blue);
  border-bottom-color: var(--blue);
  border-radius: 2rem;
}

/* Styling for side project section */
.side-projects {
  display: flex;
  justify-content: center;
}

/* Styles each side project in a grid */
.side-projects figure {
  display: flex;
  align-items: center;
}

/* Adds margin around h3 inside side projects section */
.side-projects h3 {
  margin: 1rem;
}

/* Adds margin around each individual side project box */
.project2,
.project3,
.project4,
.project5 {
  margin: 1rem;
}

/* Changes color of links inside projects on hover */
.large-project > a:hover,
.project2 > a:hover,
.project3 > a:hover,
.project4 > a:hover,
.project5 > a:hover {
  color: var(--yellow);
}

/* Styling and border for contact section */
.contact {
  margin: 0 1rem;
  margin-bottom: 2rem;

  border: 0.5rem solid;
  border-bottom: 0;
  border-color: var(--blue-glow);
  border-radius: 2rem;
}

/* Styling and font sizing for h2 inside contact section */
.contact h2 {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  font-size: 3rem;
  text-decoration: underline;
  color: var(--purple);
}

/* Adds top and bottom margin to contact links */
.links {
  margin: 2rem 0;
}

/* Styles contact links */
.links > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Resets styling for links list */
.links ul {
  padding: 0;
  text-align: center;
}

/* Removes bullet points from links */
.links li {
  list-style: none;
}

/* Styling and color scheme for each link */
.links a {
  margin-bottom: 5rem;
  text-decoration: none;
  font-size: 2rem;

  color: var(--yellow);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

/* Changes color of link on hover */
.links li :hover {
  color: var(--yellow-glow);
}

/* Adds margin on all sides of the form in contact section */
form {
  margin: 1rem;
}

/* Style and color for text inside the form */
form p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

  color: var(--blue);
}

/* Color scheme and border for form */
input[type="text"] {
  background-color: black;
  color: var(--yellow);

  border: 0.25rem solid var(--blue-glow);
  border-radius: 2rem;
}

/* Changes color of placeholder text inside form */
input::placeholder {
  color: var(--yellow);
}

/* Styling and color for submit button in form */
button {
  margin-top: 1rem;
  width: 8rem;
  background-color: var(--yellow);
}

/* Changes color of button on hover */
button:hover {
  background-color: var(--green-glow);
}

/* Changes color of footer section */
footer {
  background-color: #e10361;
}

/* Styling for h3 inside footer */
footer h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Adjust styling and position of elements for most mobile screens */
@media (max-width: 500px) {
  * {
    width: auto;
  }

  #browser-heading {
    display: none;
  }

  #mobile-heading {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 2rem 1rem;
    padding-bottom: 1rem;

    border: 0.5rem solid var(--blue-glow);
    border-top: 0;
    border-radius: 2rem;
  }

  .subtext {
    flex-direction: column;
    align-items: center;
  }

  .bio figure {
    display: flex;
    align-items: center;
  }

  nav {
    margin-bottom: 2rem;
    width: 100%;
    align-items: flex-start;
  }

  nav ul {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav li {
    text-align: center;
  }

  nav li a {
    padding: 0.5rem 1rem;
  }

  .links > ul {
    display: inline;
  }
}

/* Adjust positioning for the side projects on smaller screen size */
@media (max-width: 800px) {
  .side-projects {
    flex-direction: column;
  }
}

/* Adjust projects section to fit on smaller screen sizes */
@media (max-width: 700px) {
  .large-project {
    flex-direction: column;
  }

  .large-project img {
    width: 100px;
    height: auto;
  }

  .projects figure aside {
    justify-content: center;
    margin: 0;
  }

  .projects header {
    padding: 1rem 0;
  }

  .side-projects figure {
    flex-direction: row;
  }

  a {
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
  }
}

/* Changes font size on navbar for smaller screen sizes */
@media (max-width: 650px) {
  nav li {
    font-size: 1rem;
  }

  #browser-heading {
    font-size: 2rem;
  }
}

/* Changes font size on navbar for smaller screen sizes */
@media (max-width: 400px) {
  nav li {
    font-size: 0.75rem;
  }
}

/* Changes font size on navbar for even smaller screen sizes */
@media (max-width: 300px) {
  nav li {
    font-size: 0.5rem;
  }
}
